<!DOCTYPE html>
<html>
<head>
  <title>Simple Apm</title>
  <meta charset="utf-8">
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <%= stylesheet_link_tag "simple_apm/application", media: "all" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.js"></script>
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
      // JqueryDataTable自定义排序方法
      jQuery.extend(jQuery.fn.dataTableExt.oSort, {
          "sec-pre": function (a) {
              var x = String(a).replace(/<[\s\S]*?>/g, "");    //去除html标记
              x = x.replace(/&amp;nbsp;/ig, "");                   //去除空格
              x = x.replace(/%/, "");                          //去除百分号
              if (x.indexOf('ms') > 0) {
                  x = x.replace(/ms/, "");
                  return parseFloat(x) / 1000;
              } else if (x.indexOf('min') > 0) {
                  x = x.replace(/min/, "");
                  return parseFloat(x) * 60;
              } else {
                  x = x.replace(/min/, "");
                  return parseFloat(x)
              }
          },
          "sec-asc": function (a, b) {                //正序排序引用方法
              return ((a < b) ? -1 : ((a > b) ? 1 : 0));
          },
          "sec-desc": function (a, b) {                //倒序排序引用方法
              return ((a < b) ? 1 : ((a > b) ? -1 : 0));
          }
      });
  </script>

  <%= csrf_meta_tags %>
</head>
<body class="simple-apm">
<div id="page-container" class="apm-shell">
  <nav class="apm-topbar">
    <div class="apm-topbar-inner">
      <div class="apm-brand">
        <span class="apm-brand-mark">SA</span>
        <span class="apm-brand-name">Simple APM</span>
      </div>
      <div class="apm-nav">
        <%
          [
            [dashboard_path, t("simple_apm.layout.nav_dashboard")],
            [index_path, t("simple_apm.layout.nav_slow_requests")],
            [actions_path, t("simple_apm.layout.nav_actions")],
            [data_path, t("simple_apm.layout.nav_data")]
          ].each do |m|
        %>
          <a class="navbar-brand <%= 'active' if request.url =~ /#{m[0]}/ %>"
             href="<%= m[0] %>" >
            <%= m[1] %>
          </a>
        <% end %>
      </div>
      <div class="apm-language-switch" aria-label="<%= t("simple_apm.layout.language") %>">
        <% SimpleApm::ApplicationController::AVAILABLE_LOCALES.each do |locale| %>
          <%= link_to t("simple_apm.locales.#{locale}"),
                      set_locale_path(locale: locale),
                      class: ("active" if simple_apm_locale == locale) %>
        <% end %>
      </div>
      <div class="select-apm-date apm-date-select">
        <span><%= t("simple_apm.layout.date") %></span>
        <%= select_tag 'apm_date', options_for_select(SimpleApm::Redis.in_apm_days, apm_date), class: 'form-control' %>
      </div>
    </div>
  </nav>
  <main class="apm-content">
    <%= yield %>
  </main>
</div>
<footer class="apm-footer">
  <div class="apm-footer-status">
    <% if SimpleApm::Redis.running? %>
      <span class="apm-status apm-status-ok"><%= t("simple_apm.layout.collected") %></span>
    <% else %>
      <span class="apm-status apm-status-danger"><%= t("simple_apm.common.paused") %></span>
    <% end %>
  </div>
  <div class="apm-footer-meta">
    <% SimpleApm::Redis.simple_info.each do |k, v| %>
      <%
        redis_label_key =
          case k
          when '系统内存'
            'system_memory'
          when '当前内存占用'
            'current_memory'
          when '当前内存占用(rss)'
            'current_memory_rss'
          when '占用内存峰值'
            'peak_memory'
          when 'redis版本'
            'redis_version'
          when /db[0-9]+/
            'db'
          end
        redis_label = redis_label_key ? t("simple_apm.layout.redis_info.#{redis_label_key}") : k
      %>
      <span><label><%= redis_label %>：</label><%= v %></span>
    <% end %>
  </div>
</footer>
<div id="sql-modal" class="modal" aria-hidden="true" role="dialog" style="display: none;" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-popout">
    <div class="apm-modal-panel">
      <div class="apm-modal-header">
        <div class="apm-modal-title">SQL</div>
      </div>
      <div class="apm-modal-body">
        <pre class="modal-content" data-lang="SQL"></pre>
      </div>
    </div>

  </div>
</div>

</body>
<script>
    <% if flash[:notice].present? %>
      alert(<%= flash[:notice].to_json.html_safe %>)
    <% end %>
    var sql_modal_obj = $('#sql-modal')
    $('.select-apm-date select').on('change', function () {
        window.location.href = '<%= set_apm_date_path %>?apm_date=' + this.value
    })
    $('.sql').on('click', function () {
        sql_modal_obj.find('.modal-content').html($(this).html())
        sql_modal_obj.modal('show')
    })
    // 手写部分ujs
    $("a[data-confirm]").on('click', function () {
        return confirm($(this).data('confirm'))
    })

</script>
</html>
