<!DOCTYPE html>
<html>
<head>
  <title>Simple Apm</title>
  <meta charset="utf-8">
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="//cdn.bootcss.com/echarts/4.1.0/echarts.js"></script>
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <style>
    footer {
      text-align: center;
      padding: 10px;
      border-top: 1px solid #999999;
    }

    a.navbar-brand.active {
      color: #00AEEF !important;
    }

    #page-container {
      min-height: 80vh;
    }

    .select-apm-date {
      width: auto;
      float: right;
      margin-top: 8px;
    }

    .select-apm-date > select {
      display: inline-block;
      width: auto;
    }

    .sql {
      max-width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #00AEEF;
      cursor: pointer;
    }

    pre {
      white-space: pre-wrap;
    }
  </style>
  <script type="text/javascript">
      // JqueryDataTable自定义排序方法
      jQuery.extend(jQuery.fn.dataTableExt.oSort, {
          "sec-pre": function (a) {
              var x = String(a).replace(/<[\s\S]*?>/g, "");    //去除html标记
              x = x.replace(/&amp;nbsp;/ig, "");                   //去除空格
              x = x.replace(/%/, "");                          //去除百分号
              if (x.indexOf('ms') > 0) {
                  x = x.replace(/ms/, "");
                  return parseFloat(x) / 1000;
              } else if (x.indexOf('min') > 0) {
                  x = x.replace(/min/, "");
                  return parseFloat(x) * 60;
              } else {
                  x = x.replace(/min/, "");
                  return parseFloat(x)
              }
          },
          "sec-asc": function (a, b) {                //正序排序引用方法
              return ((a < b) ? -1 : ((a > b) ? 1 : 0));
          },
          "sec-desc": function (a, b) {                //倒序排序引用方法
              return ((a < b) ? 1 : ((a > b) ? -1 : 0));
          }
      });
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%
          [
            [dashboard_path, 'Dashboard'],
            [index_path, '慢事务列表'],
            [actions_path, 'ActionList'],
            [data_path, '数据管理']
          ].each do |m|
        %>
          <a class="navbar-brand <%= 'active' if request.url =~ /#{m[0]}/ %>"
             href="<%= m[0] %>" >
            <%= m[1] %>
          </a>
        <% end %>
      </div>
      <div class="select-apm-date">
        统计日期
        <%= select_tag 'apm_date', options_for_select(SimpleApm::Redis.in_apm_days, apm_date), class: 'form-control' %>
      </div>

    </div>
  </nav>
  <div class="container" style="margin-top: 55px">
    <%= yield %>
  </div>
</div>
<footer style="text-align: center">
  <% SimpleApm::Redis.simple_info.each do |k, v| %>
    <label><%= k %>：</label><span><%= v %></span>
  <% end %>
</footer>
<div id="sql-modal" class="modal" aria-hidden="true" role="dialog" style="display: none;" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-popout">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">SQL</div>
      </div>
      <div class="panel-body">
        <pre class="modal-content" data-lang="SQL"></pre>
      </div>
    </div>

  </div>
</div>

</body>
<script>
    <% if flash[:notice].present? %>
      alert(<%= flash[:notice].to_json.html_safe %>)
    <% end %>
    var sql_modal_obj = $('#sql-modal')
    $('.select-apm-date select').on('change', function () {
        window.location.href = '<%= set_apm_date_path %>?apm_date=' + this.value
    })
    $('.sql').on('click', function () {
        sql_modal_obj.find('.modal-content').html($(this).html())
        sql_modal_obj.modal('show')
    })
    // 手写部分ujs
    $("a[data-confirm]").on('click', function () {
        return confirm($(this).data('confirm'))
    })

</script>
</html>
