<table id="actions-table" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>点击次数</th>
    <th>平均响应时间</th>
    <th>最快响应时间</th>
    <th>最慢响应时间</th>
  </tr>
  </thead>
  <tbody>
  <% @actions.each do |action| %>
    <tr>
      <td><%= link_to action.name, action_info_path(action_name: action.name) %></td>
      <td><%= action.click_count %></td>
      <td><%= sec_str action.avg_time %></td>
      <td><%= link_to sec_str(action.fast_time), show_path(id: action.fast_id) %></td>
      <td><%= link_to sec_str(action.slow_time), show_path(id: action.slow_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function(){
      $('#actions-table').DataTable({
          iDisplayLength: 25,
          // 自定义的排序方法
          aoColumnDefs: [ {sType: "sec", aTargets: [2,3,4]}]
      })

  })
</script>