<div class="apm-page-header">
  <div>
    <h1 class="apm-page-title"><%= t("simple_apm.actions.title") %></h1>
    <p class="apm-page-subtitle"><%= t("simple_apm.actions.subtitle") %></p>
  </div>
</div>

<section class="apm-panel">
  <div class="apm-panel-header">
    <div>
      <h2 class="apm-panel-title"><%= t("simple_apm.actions.list_title") %></h2>
      <p class="apm-panel-subtitle"><%= t("simple_apm.actions.list_subtitle") %></p>
    </div>
  </div>
  <div class="apm-panel-body">
    <div class="apm-table-wrap">
      <table id="actions-table" class="table">
        <thead>
        <tr>
          <th><%= t("simple_apm.actions.name") %></th>
          <th><%= t("simple_apm.actions.click_count") %></th>
          <th><%= t("simple_apm.actions.avg_response_time") %></th>
          <th><%= t("simple_apm.actions.avg_db_time") %></th>
          <th><%= t("simple_apm.actions.avg_sql_count") %></th>
          <th><%= t("simple_apm.actions.avg_http_time") %></th>
          <th><%= t("simple_apm.actions.fastest_response_time") %></th>
          <th><%= t("simple_apm.actions.slowest_response_time") %></th>
        </tr>
        </thead>
        <tbody>
        <% @actions.each do |action| %>
          <tr>
            <td><%= link_to action.name, action_info_path(action_name: action.name) %></td>
            <td><%= action.click_count %></td>
            <td><%= sec_str action.avg_time %></td>
            <td><%= sec_str action.avg_db_time %></td>
            <td><%= action.avg_queries_count.round(1) %></td>
            <td><%= sec_str action.avg_http_time %></td>
            <td><%= link_to sec_str(action.fast_time), show_path(id: action.fast_id) %></td>
            <td><%= link_to sec_str(action.slow_time), show_path(id: action.slow_id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
      $('#actions-table').DataTable({
          iDisplayLength: 25,
          // 自定义的排序方法
          aoColumnDefs: [ {sType: "sec", aTargets: [2,3,5,6]}]
      })

  })
</script>
