<h1>慢事务追踪<%= @apm_date.strftime('%Y-%m-%d') %></h1>
<table class="table table-bordered">
  <tr>
    <th>请求时间</th>
    <th>action</th>
    <th>总耗时</th>
    <th>db_time</th>
    <th>view time</th>
    <th>host</th>
    <th>remote_addr</th>
  </tr>
  <% @slow_requests.each do |id| %>
    <tr>
      <% h = request_info(id) %>
      <td>
        <%= link_to time_label(h['started']), show_path(id: id)%>
      </td>
      <td><%= link_to "#{h['controller']}##{h['action']}.#{h['format']}", action_info_path(action_name: "#{h['controller']}##{h['action']}")%></td>
      <td><%= h['during'].to_f.round(2)%>s</td>
      <td><%= h['db_runtime'].to_i%>ms</td>
      <td><%= h['view_runtime'].to_i%>ms</td>
      <td><%= h['host']%></td>
      <td><%= h['remote_addr']%></td>
    </tr>

  <% end %>
</table>

