<div class="apm-page-header">
  <div>
    <h1 class="apm-page-title"><%= t("simple_apm.index.title") %></h1>
    <p class="apm-page-subtitle"><%= t("simple_apm.index.subtitle") %></p>
  </div>
</div>

<section class="apm-panel">
  <div class="apm-panel-header">
    <div>
      <h2 class="apm-panel-title"><%= t("simple_apm.index.samples_title") %></h2>
      <p class="apm-panel-subtitle"><%= t("simple_apm.index.samples_subtitle") %></p>
    </div>
  </div>
  <div class="apm-panel-body">
    <div class="apm-table-wrap">
      <table id="slow-requests" class="table">
        <thead>
        <tr>
          <th><%= t("simple_apm.index.request_time") %></th>
          <th><%= t("simple_apm.index.action_name") %></th>
          <th><%= t("simple_apm.index.total_time") %></th>
          <th><%= t("simple_apm.common.db") %></th>
          <th><%= t("simple_apm.common.sql") %></th>
          <th><%= t("simple_apm.common.view") %></th>
          <th><%= t("simple_apm.common.http") %></th>
          <th><%= t("simple_apm.index.memory_mb") %></th>
          <th><%= t("simple_apm.common.server") %></th>
          <th><%= t("simple_apm.index.ip") %></th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function () {
    $('#slow-requests').DataTable({
      ajax: '<%= index_path %>.json',
      iDisplayLength: 25,
      ordering: false
    })

  })
</script>
