<div class="apm-page-header">
  <div>
    <h1 class="apm-page-title"><%= t("simple_apm.show.title") %></h1>
    <p class="apm-page-subtitle"><%= @request.action_name %>.<%= @request.format %>(<%= @request.method %>)</p>
  </div>
</div>

<div class="apm-metrics">
  <div class="apm-stat">
    <p class="apm-stat-label"><%= t("simple_apm.common.total") %></p>
    <div class="apm-stat-value"><%= sec_str @request.during %></div>
  </div>
  <div class="apm-stat">
    <p class="apm-stat-label"><%= t("simple_apm.common.db") %></p>
    <div class="apm-stat-value"><%= sec_str @request.db_runtime %></div>
  </div>
  <div class="apm-stat">
    <p class="apm-stat-label"><%= t("simple_apm.common.sql") %></p>
    <div class="apm-stat-value"><%= @request.queries_count.to_i %></div>
    <div class="apm-stat-meta"><%= t("simple_apm.show.cached") %> <%= @request.cached_queries_count.to_i %></div>
  </div>
  <div class="apm-stat">
    <p class="apm-stat-label"><%= t("simple_apm.common.view") %></p>
    <div class="apm-stat-value"><%= sec_str @request.view_runtime %></div>
  </div>
  <div class="apm-stat">
    <p class="apm-stat-label"><%= t("simple_apm.common.http") %></p>
    <div class="apm-stat-value"><%= sec_str @request.net_http_during %></div>
  </div>
</div>

<section class="apm-panel">
  <div class="apm-panel-header">
    <div>
      <h2 class="apm-panel-title"><%= t("simple_apm.show.basic_info") %></h2>
      <p class="apm-panel-subtitle"><%= t("simple_apm.show.basic_info_subtitle") %></p>
    </div>
  </div>
  <div class="apm-panel-body">
    <dl class="apm-detail-list">
      <dt><%= t("simple_apm.common.url") %></dt>
      <dd><%= @request.url %></dd>
      <dt><%= t("simple_apm.show.started_at") %></dt>
      <dd><%= time_label @request.started, true %></dd>
      <dt><%= t("simple_apm.show.completed_memory") %></dt>
      <dd><%= @request.completed_memory.to_f.round(1) %>M (<%= t("simple_apm.show.memory_increase") %>: <%= @request.memory_during.to_f.round(1) %>M)</dd>
      <dt><%= t("simple_apm.common.server") %></dt>
      <dd><%= @request.host %></dd>
      <dt><%= t("simple_apm.show.ip") %></dt>
      <dd><%= @request.remote_addr %></dd>
    </dl>
  </div>
</section>

<% if @request.exception.present? && @request.exception != 'null' %>
  <section class="apm-panel">
    <div class="apm-panel-header">
      <div>
        <h2 class="apm-panel-title"><%= t("simple_apm.show.exception") %></h2>
      </div>
    </div>
    <div class="apm-panel-body">
      <pre><%= @request.exception %></pre>
    </div>
  </section>
<% end %>

<% if @request.net_http_requests.present? %>
  <section class="apm-panel">
    <div class="apm-panel-header">
      <div>
        <h2 class="apm-panel-title"><%= t("simple_apm.show.external_requests") %></h2>
        <p class="apm-panel-subtitle"><%= t("simple_apm.show.external_requests_subtitle") %></p>
      </div>
    </div>
    <div class="apm-panel-body">
      <div class="apm-table-wrap">
        <table class="table table-bordered">
          <tr>
            <th><%= t("simple_apm.show.started_at") %></th>
            <th><%= t("simple_apm.show.duration") %></th>
            <th><%= t("simple_apm.common.url") %></th>
            <th><%= t("simple_apm.show.other_info") %></th>
          </tr>
          <% @request.net_http_requests.each do |r| %>
            <tr>
              <td><%= time_label r.started %></td>
              <td><%= sec_str r.during %></td>
              <td><%= r.url %></td>
              <td><%= "#{r.filename}: #{r.line}" if r.filename.present? %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </section>
<% end %>

<% if @request.sqls.present? %>
  <section class="apm-panel">
    <div class="apm-panel-header">
      <div>
        <h2 class="apm-panel-title"><%= t("simple_apm.show.sql_list") %></h2>
        <p class="apm-panel-subtitle"><%= t("simple_apm.show.sql_list_subtitle") %></p>
      </div>
    </div>
    <div class="apm-panel-body">
      <div class="apm-table-wrap">
        <table id="sql-table" class="table">
          <thead>
          <tr>
            <td>time</td>
            <td>name</td>
            <td>sql</td>
            <td><%= t("simple_apm.show.time_ms") %></td>
            <td><%= t("simple_apm.show.location") %></td>
          </tr>
          </thead>
          <tbody>
          <% @request.sqls.each do |sql| %>
            <tr>
              <td><%= time_label sql.started %></td>
              <td>
                <%= sql.name %>
              </td>
              <td>
                <div class="sql"><%= sql.full_sql -%></div>
              </td>
              <td><%= sec_str sql.during %></td>
              <td><%= sql.filename %>:<%= sql.line %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#sql-table').DataTable({
              bPaginate: false,
              // 自定义的排序方法
              aoColumnDefs: [{sType: "sec", aTargets: [3]}]
          })

      })
  </script>
<% end %>
