<h4><%= @request.action_name %>.<%= @request.format %>(<%= @request.method %>)</h4>
<p>
  <label>URL：</label>
  <span><%= @request.url %></span>
</p>
<p>
  <label>开始时间：</label>
  <span><%= time_label @request.started, true %></span>
</p>
<p>
  <label>响应时间：</label>
  <span>
  <%= sec_str @request.during %>
    （数据库：<%= sec_str @request.db_runtime %>,
    View: <%= sec_str @request.view_runtime %>
    <%= ",外部请求: #{sec_str @request.net_http_during}" if @request.net_http_during.to_f>0 %>）
</span>
</p>
<p>
  <label>结束时内存：</label>
  <span>
  <%= @request.completed_memory.to_f.round(1) %>M
    （增幅：<%= @request.memory_during.to_f.round(1) %>M）
</span>
</p>
<p>
  <label>server：</label>
  <span><%= @request.host %></span>
</p>
<p>
  <label>访问ip：</label>
  <span><%= @request.remote_addr %></span>
</p>
<% if @request.exception.present? && @request.exception != 'null' %>
  <p>
    <label>报错信息: </label>
  <pre><%= @request.exception %></pre>
  </p>
<% end %>
<% if @request.net_http_requests.present? %>
  <p>外部请求</p>
  <table class="table table-bordered">
    <tr>
      <th>开始时间</th>
      <th>耗时</th>
      <th>URL</th>
      <th>其他信息</th>
    </tr>
    <% @request.net_http_requests.each do |r| %>
      <tr>
        <td><%= time_label r.started %></td>
        <td><%= sec_str r.during %></td>
        <td><%= r.url %></td>
        <td><%= "#{r.filename}: #{r.line}" if r.filename.present? %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @request.sqls.present? %>
  <p>SQL列表</p>
  <table id="sql-table" class="table">
    <thead>
    <tr>
      <td>time</td>
      <td>name</td>
      <td>sql</td>
      <td>时间(ms)</td>
      <td>位置</td>
    </tr>
    </thead>
    <tbody>
    <% @request.sqls.each do |sql| %>
      <tr>
        <td><%= time_label sql.started %></td>
        <td>
          <%= sql.name %>
        </td>
        <td>
          <div class="sql"><%= sql.full_sql -%></div>
        </td>
        <td><%= sec_str sql.during %></td>
        <td><%= sql.filename %>:<%= sql.line %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#sql-table').DataTable({
              bPaginate: false,
              // 自定义的排序方法
              aoColumnDefs: [{sType: "sec", aTargets: [3]}]
          })

      })
  </script>
<% end %>